nav.navigation
    ul.navigation__list
        li.navigation__item
            a.navigation__link(
                class={'navigation__item--active': page === 'index'}
                href="index.html"
            )
                | Главная
            a.navigation__link(
                class={'navigation__item--active': page === ''}
                href="#"
            )
                | О компании
            a.navigation__link(
            class={'navigation__item--active': page === ''}
            href="#"
            )
                | Новости
            a.navigation__link(
            class={'navigation__item--active': page === ''}
            href="#"
            )
                | Карьера
            a.navigation__link(
            class={'navigation__item--active': page === ''}
            href="#"
            )
                | Контакты