a.logo(
        href=(page !== 'index') ? 'index.html': null
    )
        img.logo__img(
            src="images/logo.svg"
            width="79"
            height="65"
            alt="Логотип компании Publicis Media"
        )