nav.navigation
    button.navigation__button(
            aria-label="Закрыть"
        )
    ul.navigation__list
        li.navigation__item
            a.navigation__link(
                class={'navigation__item--active': page === 'index'}
                href="index.html"
            )
                | Главная
        li.navigation__item
            a.navigation__link(
                class={'navigation__item--active': page === ''}
                href="#"
            )
                | О компании
        li.navigation__item
            a.navigation__link(
            class={'navigation__item--active': page === ''}
            href="#"
            )
                | Новости
        li.navigation__item
            a.navigation__link(
            class={'navigation__item--active': page === ''}
            href="#"
            )
                | Карьера
            ul.dropdown
                li.dropdown__item
                    a.dropdown__link(
                        class={'navigation__item--active': page === ''}
                        href="#"
                    )
                        | Вакансии
                li.dropdown__item
                    a.dropdown__link(
                    class={'navigation__item--active': page === ''}
                    href="#"
                    )
                        | Преимущества
                li.dropdown__item
                    a.dropdown__link(
                    class={'navigation__item--active': page === ''}
                    href="#"
                    )
                        | Студентам
        li.navigation__item
            a.navigation__link(
            class={'navigation__item--active': page === ''}
            href="#"
            )
                | Контакты