nav.navigation.navigation--closed
    include logo
    ul.navigation__list
        li.navigation__item(
            class={'navigation__item--active': page === 'index'}
        )
            a.navigation__link(
                href="index.html"
            )
                | Главная
        li.navigation__item(
            class={'navigation__item--active': page === ''}
        )
            a.navigation__link(
                href="#"
            )
                | О компании
        li.navigation__item(
                class={'navigation__item--active': page === ''}
        )
            a.navigation__link(
                href="#"
            )
                | Новости
        li.navigation__item(
                class={'navigation__item--active': page === 'career'}
        )
            a.navigation__link(
                href="career.html"
            )
                | Карьера
            ul.dropdown
                li.dropdown__item(
                    class={'navigation__item--active': page === ''}
                )
                    a.dropdown__link(
                        href="#"
                    )
                        | Вакансии
                li.dropdown__item(
                    class={'navigation__item--active': page === ''}
                )
                    a.dropdown__link(
                        href="#"
                    )
                        | Преимущества
                li.dropdown__item(
                    class={'navigation__item--active': page === ''}
                )
                    a.dropdown__link(
                        href="#"
                    )
                        | Студентам
        li.navigation__item(
            class={'navigation__item--active': page === ''}
        )
            a.navigation__link(
                href="#"
            )
                | Контакты